:root {
    --background-color: rgb(20, 26, 31);
    --text-color: rgb(191, 190, 190);
}

html, body {
    background-color: var(--background-color);
}

h1 {
    font-size: 60px;
    font-weight: bold;
    font-family: 'Consolas', 'Courier New', monospace;
    text-align: center;
    color: var(--text-color);
}

table, tbody, thead {
    font-family: 'Arial';
    color: var(--text-color);
}

table {
    border:1px solid rgb(85, 85, 85);
}

thead { 
    font-size:20pt; 
    font-weight: bold; 
}

tbody { font-size:13pt; }

td { text-wrap-style: balance; }

div#data-table_info.dt-info, label, input#dt-search-0.dt-input {
    color: var(--text-color);
}

.superscript { vertical-align:super; font-size:58%;}