:root {
  --background-color: rgb(20, 26, 31);
}

html {
    font-size: 16px;
    line-height: 1;
    font-family: 'Consolas', 'Courier New', monospace;
    background-color: var(--background-color);
}

h1 {
    font-size: 60px;
    text-align: center;
    margin: 0 auto;
    padding: 20px 0;
    color: gray;
    letter-spacing: 1px;
}

body {
    margin: 0;
    background-color: var(--background-color);
    padding: 0;
}

iframe {
    display: block;
    margin: 0 auto;
    border: 1;
    background-color: var(--background-color);
}

input {
    display: block;
    margin: 0 auto;
}

table, td, th {
    border:1px solid grey;
    font-family: 'Arial';
}

table { 
    margin: 0 auto; 
    border-collapse:separate; 
    empty-cells:show; 
    writing-mode:horizontal-tb; 
    direction:ltr; 
    display: block;
    white-space: nowrap;
    overflow: auto;
    height: 85vh;
    width: max-content;
    border-spacing: 0;
}

td, th {
    vertical-align:top;
    color: grey;
}

td {  font-size:10pt; }
th { font-size:18pt; font-weight:bold; position: sticky; }
.data{ font-size:10pt; }
.col-blaster{ width:3.25cm; }
.col-volume{ width:4.65cm; }
.col-id{ width:2.6cm; }
.col-draw{ width:3.95cm; }
.row-headers{ text-align: center; }
.rows-body{ text-align: left; }
.superscript{ vertical-align:super; font-size:58%;}